You are finishing a completed game of Catan.
There are no remaining game actions, trades, or consequences.
You may choose whether to send one final public table-chat message.
{% include "partials/identity_rules.jinja" %}
