## Turn {{ payload.turn_index }}

{% include "partials/identity_perspective.jinja" %}

{% include "partials/your_hand.jinja" %}

{% include "partials/standings.jinja" %}

{% include "partials/board_context_rich.jinja" %}
{% include "partials/strategy_memory.jinja" %}
