{% if payload.public_state.players %}
### Standings
{% for pid, info in payload.public_state.players.items() %}
- {{ fmt_player_standing(pid, info, payload.player_id) }}
{% endfor %}
Public Longest Road status: {{ fmt_longest_road_status(payload.public_state.players, payload.player_id) }}
Public Largest Army status: {{ fmt_largest_army_status(payload.public_state.players, payload.player_id) }}
{% endif %}
